<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.control.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.control.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAdminPwdServlet</servlet-name>
    <servlet-class>UpdateAdminPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminPwdServlet</servlet-name>
    <servlet-class>com.control.AdminPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAdPwdServlet</servlet-name>
    <servlet-class>com.control.UpdateAdPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpZlServlet</servlet-name>
    <servlet-class>com.control.UpZlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateTePwdServlet</servlet-name>
    <servlet-class>com.control.UpdateTePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStPwdServlet</servlet-name>
    <servlet-class>com.control.UpdateStPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MsgServlet</servlet-name>
    <servlet-class>com.control.MsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.control.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LookReplyMsgServlet</servlet-name>
    <servlet-class>com.control.LookReplyMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditWenjianServlet</servlet-name>
    <servlet-class>com.control.EditWenjianServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CkscServlet</servlet-name>
    <servlet-class>com.control.CkscServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteWenjianServlet</servlet-name>
    <servlet-class>com.control.DeleteWenjianServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateZlServlet</servlet-name>
    <servlet-class>com.control.UpdateZlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>upImageServlet</servlet-name>
    <servlet-class>com.control.upImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.control.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWenjianServlet</servlet-name>
    <servlet-class>com.control.AddWenjianServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.control.VideoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.control.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZiliaoServlet</servlet-name>
    <servlet-class>com.control.ZiliaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownWjServlet</servlet-name>
    <servlet-class>com.control.DownWjServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownWenjianServlet</servlet-name>
    <servlet-class>com.control.DownWenjianServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.util.Download</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyreceivemsgServlet</servlet-name>
    <servlet-class>com.control.MyreceivemsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LookreplyServlet</servlet-name>
    <servlet-class>com.control.LookreplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShouyeSaleServlet</servlet-name>
    <servlet-class>com.control.ShouyeSaleServlet</servlet-class>
  </servlet>



























  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/addTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdminPwdServlet</servlet-name>
    <url-pattern>/updateAdminPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPwdServlet</servlet-name>
    <url-pattern>/adminPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdPwdServlet</servlet-name>
    <url-pattern>/updateAdPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpZlServlet</servlet-name>
    <url-pattern>/upZlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTePwdServlet</servlet-name>
    <url-pattern>/updateTePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStPwdServlet</servlet-name>
    <url-pattern>/updateStPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgServlet</servlet-name>
    <url-pattern>/msgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/replyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookReplyMsgServlet</servlet-name>
    <url-pattern>/lookReplyMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditWenjianServlet</servlet-name>
    <url-pattern>/editWenjianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CkscServlet</servlet-name>
    <url-pattern>/ckscServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteWenjianServlet</servlet-name>
    <url-pattern>/deleteWenjianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateZlServlet</servlet-name>
    <url-pattern>/updateZlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upImageServlet</servlet-name>
    <url-pattern>/upImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWenjianServlet</servlet-name>
    <url-pattern>/addWenjianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/videoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZiliaoServlet</servlet-name>
    <url-pattern>/ziliaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownWjServlet</servlet-name>
    <url-pattern>/downWjServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownWenjianServlet</servlet-name>
    <url-pattern>/downWenjianServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyreceivemsgServlet</servlet-name>
    <url-pattern>/myreceivemsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookreplyServlet</servlet-name>
    <url-pattern>/lookreplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShouyeSaleServlet</servlet-name>
    <url-pattern>/shouyeSaleServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
